body{
	margin:0 10px 0 10px;
	background-color:#fff;
}
font, p {font-size:18px; color:#000; font-family:Î¢ÈíÑÅºÚ; margin: 0px;padding:0px;}
img {width:100%;}
#header .title {font-size:28px}
#header .user {font-size:14px; color:#888; margin: 10px 0px 10px 0px;}